html{
  overflow: hidden;
}
#game{
  background: url("../img/molde-juego.png");
  background-size:contain;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 1200px;
  height: 1000px;
  position: relative;
}
#lifestore{
  position: absolute;
  left:90px;
  bottom: 200px;
}
body{
  background: url("../img/fondo-pantalla.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
#board{
  background: url("../img/fondo.png");
  background-size: 200%;
  background-position: 50% 800;
  height: 750px;
  width: 800px;
  position: relative;
  margin: 0 auto;
  top: 153px;
  left: 4px;
}
.me{
  height:80px;
  width:80px;
  background-image: url("../img/goat-jump.png");
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;

}
.spin{
  animation: spin 0.5s infinite linear;
}
.rock{
  position: absolute;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}
.tile{
  height: 40px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}
.iniciales{
  background: url("../img/long-platform.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 300px;
  height: 30px;
  position: absolute;
  bottom: 138;
}
#floor{
  bottom: 0;
  width: 100%;
  background-image: url("../img/long-platform.png");
  background-size: cover;

}
.right{
  bottom: 276;
  left: 500;
}
.top{
  bottom: 414;
  left: 100;
}
.high{
  bottom: 552;
  left: 300;
}
.final{
  bottom: 750;
  left: 200;
}
.jumping{
  background: url("../img/goat-jump.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.jetpack{
  width: 40px;
  height: 40px;
  background-image: url("../img/jetpack.png");
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
}
.heart{
  width: 40px;
  height: 40px;
  background-image: url("../img/heart.png");
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
}
.mylife1, .mylife2, .mylife3{
  width: 40px;
  height: 40px;
  background-image: url("../img/heart.png");
  background-size: contain;
  background-repeat: no-repeat;

}
#difficult{
  position: absolute;
  top:395px;
  right: 50px;
  height:70px;
  width:70px;
  font-size: 25px;
  border: 2px solid black;
  border-radius: 10%;
  background: #ed756a;
  color:white;
  font-family: 'Gochi Hand', cursive;
}
.dashboard{
  width:800px;
  height: 800px;
  position: absolute;
  left: 400px;
  top:150px;
}
.myspace{
  position: relative;
}
#start{
  position: absolute;
  top:500px;
  left:500px;
  z-index:3;
  width:200px;
  height:100px;
  font-size:30px;
  font-family: 'Gochi Hand', cursive;
  border: 5px solid #038c5a;
  background: #b6f279;
  color: #038c5a;
}
.instr{
  position: absolute;
  top:190px;
  left:250px;
  z-index:4;
  display:none;
}
.next{
  position: absolute;
  bottom:30px;
  right: 30px;
}
#go,#instructions{
  cursor:pointer;
  position: absolute;
  top:300px;
  left:250px;
  z-index:3;
  width:400px;
  height:100px;
  font-size:50px;
  font-family: 'Gochi Hand', cursive;
  border: 5px solid #038c5a;
  background: #b6f279;
  color: #038c5a;
  border-radius: 5%;
}
#instructions{
  top: 450px;
}
#go a{
  text-decoration: none;
  color: #038c5a;
}
.potion{
  width: 50px;
  height: 50px;
  background-image: url("../img/potion.png");
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
}
.yourscore{
  position: absolute;
  width: 300px;
  height: 350px;
  top: 200px;
  left: 250px;
  border-radius: 5%;
  background: #4ad9d9;
  color: white;
  text-align: center;
  font-size: 30px;
  line-height: 20px;
font-family: 'Gochi Hand', cursive;

}
#score{
  position: absolute;
  top:210px;
  font-size:50px;
  left:50px;
  font-family: 'Gochi Hand', cursive;
}
.again{
  padding: 20px;
  border-radius: 5%;
  border: 5px solid #038c5a;
  background: #b6f279;
  font-size: 35px;
  font-family: 'Gochi Hand', cursive;
  color: #038c5a;
}
#resources{
  position: absolute;
width: 40px;
height: 40px;
background: #038c5a;
border-radius: 50%;
right: 700px;
top: 700px;
}
#resources a{
  font-size: 25px;
text-decoration: none;
margin-left: 15px;
  font-family: 'Gochi Hand', cursive;
padding-top: 10px;
color: white;
}

@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
