#board{
  background: url("img/fondo.png");
  background-size: 200%;
  background-position: 50% 800;
  height: 800px;
  width: 800px;
  position: relative;
  margin: 0 auto;
}
.me{
  height:80px;
  width:80px;
  background-image: url("img/goat-jump.png");
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;

}

.tile{
  height: 40px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}
.iniciales{
  background: url("img/long-platform.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 300px;
  height: 30px;
  position: absolute;
  bottom: 138;
}
.animate{
  animation: shake 0.2s linear  infinite alternate;
}
#floor{
  bottom: 0;
  width: 100%;
  background-image: url("img/long-platform.png");
  background-size: cover;
}
.right{
  bottom: 276;
  left: 500;
}
.top{
  bottom: 414;
  left: 100;
}
.high{
  bottom: 552;
  left: 300;
}
.final{
  bottom: 750;
  left: 200;
}
.jumping{
  background: url("img/goat-jump.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.jetpack{
  width: 40px;
  height: 40px;
  background-image: url("img/jetpack.jpg");
  background-size: contain;
  position: absolute;
}
.heart{
  width: 40px;
  height: 40px;
  background-image: url("img/heart.png");
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
}
.mylife1, .mylife2, .mylife3{
  width: 40px;
  height: 40px;
  background-image: url("img/heart.png");
  background-size: contain;
  background-repeat: no-repeat;
  display:none;
}
.potion{
  width: 50px;
  height: 50px;
  background-image: url("img/potion.png");
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
}
