#board{
  background: lightblue;
  height: 900px;
  width: 800px;
  position: relative;
  margin: 0 auto;
}
.me{
  height:50px;
  width:50px;
  background: purple;
  position: absolute;
}
.tile{
  background: red;
  width: 300px;
  height: 20px;
  position: absolute;
  bottom: 138;
}
#floor{
  bottom: 0;
  width: 100%;
}
