#board{
  background: lightblue;
  height: 800px;
  width: 800px;
  position: relative;
  margin: 0 auto;
}
.me{
  height:50px;
  width:50px;
  background: purple;
  position: absolute;
}

.tile{
  background: red;
  height: 20px;
  position: absolute;
}
.iniciales{
  background: green;
  width: 300px;
  height: 20px;
  position: absolute;
  bottom: 138;
}
.animate{
  animation: shake 0.2s linear  infinite alternate;
}
#floor{
  bottom: 0;
  width: 100%;
}
.right{
  bottom: 276;
  left: 500;
}
.top{
  bottom: 414;
  left: 100;
}
.high{
  bottom: 552;
  left: 300;
}
.final{
  bottom: 750;
  left: 200;
}
@keyframes shake{
  0%{
    left: 35px;
    bottom: 151px;
  }
  100%{
    left:44px;
    bottom:149px;
  }
}
